{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
<title>{{i18n .Lang "app_name"}} - {{i18n .Lang "app_intro"}}</title>
<meta name="description" content="{{i18n .Lang "app_desc"}}" />
<meta name="keywords" content="{{i18n .Lang "app_keywords"}}">
<meta http-equiv="cache-control" content="max-age=31536000" />
{{end}}
{{define "body"}}
<div class="row">
  <div id="content" class="col-md-8">
    <div class="box">
      <div class="cell breadcrumb first"> {{i18n .Lang "about"}} </div>
      <div class="cell nav-topics last">
        <p>衣丽是一个面向新女性的轻松、有爱的交流讨论社区。你可以在这里分享自己的宝贵经验和生活感悟，更可以在这里学习和借鉴其他的方法和技巧。</p>
        <p>目前衣丽社区的主要方向集中在化妆美容、美发、穿着服饰、运动健康、饮食营养、情绪修养和香水品鉴等主题上。原则上我们尽量避免出现除此以外的诸如政治之类话题。</p>
        <p>希望大家能够多多分享自己正在做的有趣事物、交流想法，在这里找到朋友甚至新的机会。并且，最重要的是，在这一切的过程中，保持对他人的友善。</p>
        <p>为了保持这里的良好氛围，衣丽有自己的明确规则：
        <ul>
          <li>这里绝对不会全文转载任何文章，而只会以链接方式分享；</li>
          <li>这里感激和崇尚美的事物；</li>
          <li>这里尊重并鼓励原创；</li>
          <li>这里反对中文互联网上的无信息量习惯如“顶”，“沙发”，“前排”，“留名”，“路过” ；</li>
	  <li>这里提倡有信息量的讨论，解决真正存在的实际问题（比如各类技术问题），反对空谈；</li>
	  <li>这里不欢迎 creepy ones，希望这里的每一个人都可以友善地对待他人；</li>
	  <li>帖子在发布15分钟之后将不能进行修改，希望每个人都能够在说出每一句话之前经过足够认真的思考。</li>
        </ul>
        <p>我们致力于为每一位爱美女性提供一个轻松，写意的分享交流环境！</p>
      </div>
    </div>
  </div>
  <div id="sidebar" class="col-md-4">    
        {{template "post/component/followus-vert.html" .}}
        {{template "post/component/links.html" .}}
  </div>
</div>
{{end}}
