<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.community_news"}}</div>
	<div class="cell last slim">
		{{if eq .Lang "en-US"}}
		<p>Welcome, cute ladies!</p>
		<p>Yiili Community is finally here. You can post, share and find awesome resources in this relaxing, light community.</p>
		<p>Website is under BETA, the mobile/tablet client app are been developing. So please report issue if any, thanks!</p>
		{{end}}
		{{if eq .Lang "zh-CN"}}
		<p>欢迎各位美女！</p>
		<p>我们很高兴地告诉您，伊丽社区上线了。您可以在这个轻松、写意的社区中发布、分享并寻找自己需要的各种资源。</p>
		<p>网站仍处于测试阶段，配套的手机和平板客户端app也正在开发过程中。如果发现任何问题，请及时告知我们，谢谢！</p>
		{{end}}
	</div>
</div>
<p>
    <a href="{{.AppUrl}}new" class="btn btn-success">
        <i class="icon-double-angle-right"></i>
        {{i18n .Lang "post.post_new"}}
    </a>
</p>
<!-- <div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.hot_topics"}}</div>
	<div class="cell last">Are you going to kill her? Just because I don't like her?</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.zero_replys"}}</div>
	<div class="cell last">How can I have millions of dollars?</div>
</div>
<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.top_dictionaries"}}</div>
	<div class="cell last">1. Who am I</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.community_stars"}}</div>
	<div class="cell last">1. Oh, yeah</div>
</div> -->

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.follow_us"}}</div>
	<div class="cell last">
		<ul class="sidebar-list">
            <li><a target="_blank" href="https://www.facebook.com/kelly.shen.501"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-facebook.png">Facebook</a></li>
			<li><a target="_blank" href="https://twitter.com/misskerisdream"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-twitter.png">Twitter</a></li>
			<li><a target="_blank" href="https://plus.google.com/105276220177876343905"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-googleplus.png">Google Plus</a></li>
			<li><a target="_blank" href="http://fanfou.com/misskerisdream"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-fanfou.png">饭否</a></li>
			<li><a target="_blank" href="http://weibo.com/misskerisdream"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-sinaweibo.png">新浪微博</a></li>
			<li><a target="_blank" href="http://t.qq.com/misskerisdream"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-qqweibo.png">腾讯微博</a></li>
			<li><a target="_blank" href="http://t.163.com/misskerisdream"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-163weibo.png">网易微博</a></li>
			<li><a target="_blank" href="http://misskerisdream.t.sohu.com"><img width="14" height="14" src="http://kelly.qiniudn.com/img/snsicon/32-sohuweibo.png">搜狐微博</a></li>
		</ul>
    </div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.frined_links"}}</div>
	<div class="cell last">
		<ul class="sidebar-list">
			<li><a target="_blank" href="http://shop109252741.taobao.com/">Miss Keri's Dream</a></li>
			<li><a target="_blank" href="http://www.miaocoffee.com">喵咖啡</a></li>
			<li><a target="_blank" href="http://www.dfordsoft.com">DForD Software</a></li>
		</ul>
	</div>
</div>
