	<footer id="footer">
		<div class="container footer-wrap">
			<p>
				<a href="/about"><strong>{{i18n .Lang "about"}}</strong></a>
				|
				<a href="/faq"><strong>FAQ</strong></a>
				|
                <a href="/contact"><strong>{{i18n .Lang "contact"}}</strong></a>
			</p>
			<p>
				{{i18n .Lang "copyright"}} © 2014 {{i18n .Lang "beego_community"}} - {{i18n .Lang "footer_desc"}} Ver.{{.AppVer}} - {{i18n .Lang "loading_time"}} {{.PageStartTime|loadtimes}}ms.
			</p>
			<p class="desc">
                {{i18n .Lang "sidebar.follow_us"}}: 
                {{range .Contacts}}
                {{if .Url}}
                <a target="_blank" href="{{.Url}}"><img width="14" height="14" src="{{.Icon}}">{{.Title}}</a>
                {{end}}
                {{end}}
			</p>

            <!--
			<strong>{{i18n .Lang "language_choice"}}: </strong>
            -->
		    <div class="btn-group dropup">
                <!--
			    <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{i18n .Lang .Lang}} <i class="caret"></i></button>
			    <ul class="dropdown-menu">
			    	{{range .Langs}}
			    		<li><a href="javascript::" data-lang="{{.}}" class="lang-changed">{{i18n $.Lang .}}</a></li>
			    	{{end}}
			    </ul>
                -->
                <a target="_blank" href="https://www.linode.com/?r=80d8c1369fb612167247bb0514afb26c25960fe4"><img src="https://www.linode.com/media/images/logos/standard/light/linode-logo_standard_light_small.png" alt="Linode - SSD Cloud Hosting" title="Linode - SSD Cloud Hosting"></a>
                <a target="_blank" href="https://portal.qiniu.com/signup?code=3lhd0f8r89h02"><img src="http://qiniutek.com/images/logo-2.png" alt="七牛云存储 - 移动时代的云存储服务商" title="七牛云存储 - 移动时代的云存储服务商"></a>
                <a target="_blank" href="http://www.upyun.com"><img src="http://kelly.qiniudn.com/logo/upyun90x45.png" alt="又拍云 - 非结构化数据云存储、云处理、云分发平台" title="又拍云 - 非结构化数据云存储、云处理、云分发平台"></a>
                <a target="_blank" href="https://www.digitalocean.com/?refcode=9b059cc22847"><img src="https://cloud.digitalocean.com//assets/shared/logo-sidebar-304b6baa3018f1419d3b3d153bf280be.png" alt="DigitalOcean - SSD Cloud Server, VPS Server, Simple Cloud Hosting" title="DigitalOcean - SSD Cloud Server, VPS Server, Simple Cloud Hosting"></a>
		    </div>
		</div>
		<input type="hidden" name="_once" value="{{.once_token}}" style="display:none;" />
	</footer>
