	<footer id="footer">
		<div class="container footer-wrap">
			<p>
				<a href="/about"><strong>{{i18n .Lang "about"}}</strong></a>
				|
				<a href="/faq"><strong>FAQ</strong></a>
				|
                <a href="/contact"><strong>{{i18n .Lang "contact"}}</strong></a>
			</p>
			<p>
				{{i18n .Lang "copyright"}} © 2014 {{i18n .Lang "beego_community"}} - {{i18n .Lang "footer_desc"}} Ver.{{.AppVer}} - {{i18n .Lang "loading_time"}} {{.PageStartTime|loadtimes}}ms.
			</p>
			<p class="desc">
                {{i18n .Lang "sidebar.follow_us"}}: 
                {{range .Contacts}}
                {{if .Url}}
                <a target="_blank" href="{{.Url}}"><img width="14" height="14" src="{{.Icon}}">{{.Title}}</a>
                {{end}}
                {{end}}
			</p>

            <!--
			<strong>{{i18n .Lang "language_choice"}}: </strong>
            -->
		    <div class="btn-group dropup">
                <!--
			    <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{i18n .Lang .Lang}} <i class="caret"></i></button>
			    <ul class="dropdown-menu">
			    	{{range .Langs}}
			    		<li><a href="javascript::" data-lang="{{.}}" class="lang-changed">{{i18n $.Lang .}}</a></li>
			    	{{end}}
			    </ul>
                -->
		    </div>
		</div>
		<input type="hidden" name="_once" value="{{.once_token}}" style="display:none;" />
	</footer>
