	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Unknown, slene, missdeer" />
    <meta name="google-site-verification" content="wGq8E12saVGL06uvqHcSvc6kmEnTc2cVdO4TkANyU40" />
	<meta name="baidu-site-verification" content="GD9EeP1ySA" />
	{{template "meta" .}}
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<link rel="shortcut icon" href="{{.ImgBedUrl}}static/img/favicon.png" />
	{{compress_css "lib"}}
	{{str2html "<!--[if IE 7]>"}}
	{{compress_css "ie7"}}
	{{str2html "<![endif]-->"}}
	{{compress_css "app"}}
	{{compress_js "lib"}}
	{{compress_js "app"}}
