{{range $i, $v := .Score}}
<div class="post cell">
	<div class="avatar">
        <img src="https://dn-toto.qbox.me/teamlogo/{{.Teamid}}.png">
	</div>
	<h3 class="title">
        {{plusplus $i}} : {{.Name}}  
        {{if len .Point}}
		<div class="data pull-right">
            积分 {{.Point}}
		</div>
        {{end}}
	</h3>
	<div class="meta">
        <span class="time">{{.Team}}</span>|
        <span class="time">进球：{{.Goal}}</span>
        {{if len .Appear}}
        |
        <span class="time">场次：{{.Appear}}</span>
        {{end}}
	</div>
</div>
{{end}}
