{{template "../base/base.html" .}}
{{template "../base/base_common.html" .}}
{{define "meta"}}
    <title>{{i18n .Lang "score"}} - {{i18n .Lang "app_name"}} - {{i18n .Lang "app_intro"}}</title>
    <meta name="description" content="{{i18n .Lang "app_desc"}}" />
    <meta name="keywords" content="{{i18n .Lang "app_keywords"}}">
{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-9">
        <!-- Post list -->
        <div class="box">
            <div class="cell breadcrumb first">
                <i class="icon-level-up"></i>
                <a href="/score/standings/{{.TeamId}}" style="color:red">积分榜</a>| 
                <a href="/score/shooters/{{.TeamId}}">射手榜</a>| 
                <a href="/score/assistants/{{.TeamId}}">助攻榜</a>| 
                <a href="/score/cards/{{.TeamId}}">红黄牌榜</a>
            </div>

            <div class="post-list">
                {{template "../score/detail/standing.html" dict "root" . "Score" .Score}}
            </div>

        </div>
	</div>

    <div id="sidebar" class="col-md-3">
        <div class="box">
            <div class="cell first">联赛</div>
            <div class="cell last">
                <ul class="sidebar-list">
                    {{ $TeamId := .TeamId }}
                    {{range $id, $name := .Team }}
                    <li><a href="/score/standings/{{$id}}"{{if eq $id $TeamId}} style="color:red"{{end}}>{{$name}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}
